* {
  font-family: Helvetica, sans-serif;
}

.recipes-box {
  height: 200px;
  width: 400px;
  border: solid 5px black;
  margin: 0 auto;
  padding: 50px;
  /* background-color: greenyellow; */
}

.center-title {
  text-align: center;
  font-size: 52px;
  margin: 0;
  padding: 0px 10px auto;
  border-bottom: solid black 10px;
}

.article {
  width: 700px;
  border: solid 5px black;
  margin: 0 auto;
  padding: 50px;
}

.image {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  display: block;
}
